# direct dependencies
cachetools==4.2.2
Twisted==21.2.0
urllib3==1.26.4

# transitive dependencies
attrs==21.2.0
Automat==20.2.0
carbon==1.1.8
constantly==15.1.0
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
six==1.16.0
whisper==1.1.8
zope.interface==5.4.0
